@using CSGOSkinsWeb.Database.Models
@namespace CSGOSkinsWeb.Core.Web.Weapons

@if (Weapons == null)
{
    <p><em>Loading Weapons...</em></p>
}
else if (!Weapons.Any())
{
    <p><em>No weapons found</em></p>
}
else
{
    <h2 style="margin-top: 0px !important;">Rifles</h2>

        @foreach (Weapon weapon in GetWeaponsWithCategory(1))
        {
            <div class="display-weapons">
                    <div>
                        <a href="/weapons/@weapon.Idstring">
                            <h5 class="display-text">@weapon.Weapname</h5>
                            <img class="display-image-weap" src="@weapon.Imgsrc" />
                            <p class="display-text-date">Skin Count: @WeaponSkinCount(weapon.Idstring)</p>
                        </a>
                    </div>
                </div>
        }

    <h2>Heavy</h2>
    @foreach (Weapon weapon in GetWeaponsWithCategory(2))
        {
            <div class="display-weapons">
                    <div>
                        <a href="/weapons/@weapon.Idstring">
                            <h5 class="display-text">@weapon.Weapname</h5>
                            <img class="display-image-weap" src="@weapon.Imgsrc" />
                            <p class="display-text-date">Skin Count: @WeaponSkinCount(weapon.Idstring)</p>
                        </a>
                    </div>
                </div>
        }

    <h2>SMGs</h2>
    @foreach (Weapon weapon in GetWeaponsWithCategory(3))
        {
            <div class="display-weapons">
                    <div>
                        <a href="/weapons/@weapon.Idstring">
                            <h5 class="display-text">@weapon.Weapname</h5>
                            <img class="display-image-weap" src="@weapon.Imgsrc" />
                            <p class="display-text-date">Skin Count: @WeaponSkinCount(weapon.Idstring)</p>
                        </a>
                    </div>
                </div>
        }
    <h2>Pistols</h2>
    @foreach (Weapon weapon in GetWeaponsWithCategory(4))
        {
            <div class="display-weapons">
                    <div>
                        <a href="/weapons/@weapon.Idstring">
                            <h5 class="display-text">@weapon.Weapname</h5>
                            <img class="display-image-weap" src="@weapon.Imgsrc" />
                            <p class="display-text-date">Skin Count: @WeaponSkinCount(weapon.Idstring)</p>
                        </a>
                    </div>
                </div>
        }
    <h2>Knives</h2>
    @foreach (Weapon weapon in GetWeaponsWithCategory(5))
        {
            <div class="display-weapons">
                    <div>
                        <a href="/weapons/@weapon.Idstring">
                            <h5 class="display-text">@weapon.Weapname</h5>
                            <img class="display-image-weap" src="@weapon.Imgsrc" />
                            <p class="display-text-date">Skin Count: @WeaponSkinCount(weapon.Idstring)</p>
                        </a>
                    </div>
                </div>
        }
    <h2>Gloves</h2>
    @foreach (Weapon weapon in GetWeaponsWithCategory(6))
        {
            <div class="display-weapons">
                    <div>
                        <a href="/weapons/@weapon.Idstring">
                            <h5 class="display-text">@weapon.Weapname</h5>
                            <img class="display-image-weap" src="@weapon.Imgsrc" />
                            <p class="display-text-date">Skin Count: @WeaponSkinCount(weapon.Idstring)</p>
                        </a>
                    </div>
                </div>
        }
}

